#test{
    margin-right: 100px;
    float:right;
    font-weight: bold;
    font-size: 3em;
}
#red{
    width:100px;
    height:100px;
    background-color: red;
}

#blue{
    width:100px;
    height:100px;
    background-color: blue;
}
#green{
    width:100px;
    height:100px;
    background-color: green;
}
