*{
    margin:0;
    padding:0;
}
#header{
    background-image:  url("images/bush.PNG") ;
    width:100%;
    height:100px;
    color:orangered;
    font-family: sans-serif;
}
#headertext{
    font-size: 3em;
    text-align: center;

    height:100px
}
#headertext p{
    padding:20px;
    font-weight: bold;
}
